* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-image: url(img/fondo-1.jpg);
}

.Imagenes {
    width: 200px;
    height: 200px;
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-duration: 5s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section#Contenido {
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 250px);

    justify-content: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

header {
    grid-area: header;
    background-color: rgb(49, 10, 1);
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}


footer {
    grid-area: footer;
}

.redes {
    height: 70px;
    color: white;
    background-color: rgb(49, 10, 1);
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.instaywha {
    width: 30px;
    height: 30px;
}

.Pie {
    text-decoration: none;
    color: white;
    border: 5px double black;
    background-color: rgb(115, 106, 146);
}

.Titulo {
    font-family: 'Amatic SC', cursive;
    color: white;
}

.Enlaces-Inicio {
    color: white;
}

body {
    display: grid;
    grid-template-areas:
        "header header"
        "header header"
        "contenido contenido"
        "contenido contenido"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px auto 100px;
}

@media screen and (max-width:767px) {
    .Imagenes {
        width: 150px;
        height: 135px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:599px) {
    body {
        grid-template-areas:
            "header"
            "contenido"
            "contenido"
            "contenido"
            "footer"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 200px);
    }

    section#Contenido {
        grid-area: contenido;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 150px);

        justify-content: center;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .Imagenes {
        width: 150px;
        height: 135px;
    }

    header {
        grid-area: header;
        background-color: rgb(49, 10, 1);
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        width: 100%;
        flex-direction: column;

    }


}